{% extends 'paginas/base.html' %}
{% load static %}

{% block navbar %}
{% endblock %}

{% load crispy_forms_tags %}

{% block title %}| Listagem Cliente {% endblock title %}

{% block conteudo %}
<div class="container py-2 my-5 border border-warning">
    <h3>Lista de Clientes Juridico registrados</h3>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col text-left">
                <a href="{% url 'pessoa-juridica-cadastro' %}" class="btn btn-primary" title="adicionar">Adicionar
                    <i class="fa fa-file"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="container p-3 my-3 ">
        <div class="table-responsive border">
            <table class="table table-striped">
                <tr>
                    <th>Nome</th>
                    <th>Razão Social</th>
                    <th>CNPJ</th>
                    <th>Complemento</th>
                    <th>E-mail</th>
                    <th>Tipo</th>
                    <th>Telefone</th>
                    <th>Rua</th>
                    <th>Numero</th>
                    <th>Complemento</th>
                    <th>Bairro</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>Opções</th>
                </tr>

                {% for pessoaj in object_list %}
                <tr>
                    <td>{{pessoaj.nome}}</td>
                    <td>{{pessoaj.razao_social}}</td>
                    <td>{{pessoaj.cnpj}}</td>
                    <td>{{pessoaj.email}}</td>
                    <td>{{pessoaj.tipo}}</td>
                    <td>{{pessoaj.telefone}}</td>
                    <td>{{pessoaj.rua}}</td>
                    <td>{{pessoaj.numero}}</td>
                    <td>{{pessoaj.complemento}}</td>
                    <td>{{pessoaj.bairro}}</td>
                    <td>{{pessoaj.cidade}}</td>
                    <td>{{pessoaj.estado}}</td>
                    <td>
                        <a href="{% url 'pessoa-juridica-atualizar' pessoaj.pk %}" class="btn btn-warning btn-sm" title="Editar"><i
                                class="fa fa-pencil" aria-hidden="true"></i></a>

                        <a href="{% url 'pessoa-juridica-deletar' pessoaj.pk %}" class="btn btn-danger btn-sm"
                            title="excluir"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>

                {% empty %}
                <tr>
                    <td colspan="3">Nenhum cliente Pessoa Juridica registrado!</td>
                </tr>

                {% endfor %}

            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block rodape %}
{% endblock %}