{% extends "paginas/base.html" %}
{% load static %}

{% block titulo %}
    <title>Blog Castro| Lista de Postagem</title>
{% endblock %}

{% block conteudo %}

<div class="container border border-ranger py-4 my-4">
    <div class="" >       
        {% for post in post_list %}
            <div class="">
                <h2 class="text-center">{{post.categoria}}</h2>
                <div class="card text-justify-center" style="width: 79rem">
                    <h5 class="card-header text-dark">{{post.titulo}}</a></h5>
                    <p class="date"><strong> Publicado em </strong>{{ post.criacao|date:"d M Y" }}<strong> por </strong> {{ post.autor }}</p>
                    <div class="card-body">
                        <p>{{ post.conteudo|safe|linebreaks|truncatewords:30 }}</p>            
                    </div>
                    <p class="container-fluid text-center py-2 ">
                        <a href="{{ post.get_absolute_url }}" class="btn btn-danger text-white">ver detalhes</a>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block rodape %}
{% endblock %}