{% extends "paginas/base.html" %}
{% load static %}


{% block titulo %}
<title>Postagem {{ post.titulo }}</title>
{% endblock %}

{% block conteudo %}
<div class="container py-5 my-5">
    <div class="card" style="width: 78rem;">
        <h2>{{ post.titulo }}</h2>
        <p class="date">Publicado em {{ post.criacao|date:"d M Y" }} por {{ post.autor }}
        </p>
        <div class="card-body">
            <p class="card-text text-justify-center">{{ post.conteudo|safe|linebreaks }}</p>
        </div>
    </div>
</div>
{% endblock %}
