{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"> 
    <!-- Latest compiled and minified CSS -->
    <title>Error 404</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">    
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    
    <link rel="stylesheet" href="{% static 'css/not-found.css' %}">

    <style>        
        .content {
            margin: auto;
            margin-top: 10%;
        }
    </style>

</head>
<body>
    <div class="content">
        <div class="container py-5 my-5 text-center">
            <h2>Oops! Página não encontrada.</h2>
            <h1>404</h1>        
            <p>Esta página não existe.</p>
            <a class="btn btn-primary" href="{% url 'home' %}" role="button">Retornar à página inicial</a>
        </div>
    </div>    
</body>
</html>