{%  extends 'base.html'%}
{% load static%}

{% block titulo %}
<title>Sobre Nós</title>
{% endblock %}

{% block conteudo%}
<body style="background-image: url('../../static/img/fundosobre.jpg');text-align: center;">
    <h2 class="bg-dark text-white">Sobre nós</h2>
    <div class="container text-justify-center">
            <div class="card my-5 bg-dark text-white" style="width: 40%; text-align: center;">
                <img class="card-img-top" src="{% static 'img/fotocastro.png'%}" alt="Card image cap">
                <h5 class="card-header">A castro autopeças</h5>
                <div class="card-body">
                    <h5 class="card-title">Castro</h5>
                    <p class="text-card">   Somos uma loja de autopeças séria e responsavel que comerceariza peças e serviços automotivos
                    na cidade de Rio Branco. Assumimos um compromisso com os nossos clientes desde a compra até a entrega dos produtos, garantido
                    a sastifação de nossos clientes.
                    Nossos produtos são inovadores e de qualidade com garantia de fabrica, facilitando o dia a dia de
                    nosso clientes e melhorando a sua qualidade de vida e sua experiência no ramo automotivel.</p>
                </div>
            </div>
    </div>
</body>
{% endblock %}